html {
  font-size: 75%;
}

body {
  font-family: 'Gentium Book Basic', serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  color: red;
  font-weight: bold;
}